* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header{
  margin-left: 1100px ;
  margin-top: 30px;
}

/* Main Body */

.mainBody {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

.mainBody img {
  object-fit: contain;
  height: 100px;
  margin-top: 40px;
  max-width: 560px;
  margin-left: 380px;
}

/* search */
.searchy{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
  
}

.searchy :hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchy input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  cursor: pointer;
}
